.header-logo-link {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.33;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #2E2F42;
 }
.header-logo-link span {
    color: var(--primary-band);
}

.nav-link {
    font-weight: 500;
    color: #2E2F42;
}